*.pyc
*.db
*.env

node_modules
bower_components

src/pip-*
webapp_test.sh

logs/

dump.rdb

.pytest_cache
.idea
.cache
.ipynb_checkpoints

*.pem

_build

.DS_Store
*.egg-info

staticfiles/

__pycache__/

secret.sh
secret-docker-compose.yml

*credentials.sh

*worker_config.prod.json
*docker-compose-apps*

distributed/kubernetes/apps/*
dev-secret.yaml

*flask-deployment.yaml