django>=2.1.2
msgpack
requests>=2.20
requests_mock
dj_database_url
dataclasses
psycopg2
whitenoise
gunicorn
stripe
sendgrid-django
pytest
django-widget-tweaks
django-crispy-forms
matchups==0.3.4
paramtools==0.2.0rc1
psycopg2-binary