django>=2.1.2
djangorestframework
msgpack
requests>=2.20
requests_mock
dj_database_url
dataclasses
whitenoise
gunicorn
stripe
django-anymail[mailgun]
pytest
pytest-django
django-widget-tweaks
django-crispy-forms
psycopg2-binary
ipython
markdown
django-guardian
# cs-storage
newrelic
hashids
django-rest-auth
django-allauth

git+https://github.com/compute-tooling/compute-studio-storage@add-screenshot