{% extends 'registration/settings_base.html' %}

{% load static %}
{% block title %}Delete Account{% endblock %}

{% block settings %}

<div class="card card-body card-inner">
  <div style="margin:20px">
    <h3 style="color:inherit;">Account and all associated data have been deleted</h2>
    <p>You have up to 5 days to change your mind and still recover your data. If this is a mistake, please contact us at <a href="mailto:admin@compute.studio">admin@compute.studio</a> as soon as possible.</p>
  </div>
</div>
{% endblock %}
