<!-- templates/registration/password_reset_form.html -->
{% extends 'registration/settings_base.html' %} {% block settings %}
<div class="card card-body card-inner">
  <h2 class="card-title">Forgot Your Password?</h2>
  <p class="lead">
    Enter your email address below, and we'll email instructions for setting a new one.
  </p>

  <form method="POST">
    {% csrf_token %} {% include 'includes/prettyform.html' with form=form %}
    <button type="submit" class="btn btn-light mt-4">Send me instructions</button>
  </form>
</div>
{% endblock %}
