<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block content %}
<div class="card card-body card-outer">
  <h2 class="card-title">Forgot Your Password?</h2>
  <p class="lead">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {% include 'includes/prettyform.html' with form=form %}
    <button type="submit" class="btn btn-light" style="margin-top:2rem;">Send me instructions</button>
  </form>
</div>
{% endblock %}
