{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" style="margin:20px;">
    {% csrf_token %}
    <h4>{{ username }}</h4>
    <div style="margin:10px;">
        <form action="{% url 'password_change' %}" method="GET">
                <input class="btn" type="submit" value="Change password">
        </form>
    </div>
    <div style="margin:10px;">
    <form action="{% url 'update_payment' %}" method="GET">
            <input class="btn" type="submit" value="Update payment information">
    </form>
    </div>
    <div style="margin:10px;">
        <form action="{% url 'cancel_subscription' %}" method="GET">
            <input class="btn" type="submit" value="Cancel subscription">
        </form>
    </div>
    <div style="margin:10px;">
        <form action="{% url 'delete_user' %}" method="GET">
            <input class="btn" type="submit" value="Delete account">
        </form>
    </div>

</div>

{% endblock %}
