{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card card-body card-outer">
  {% csrf_token %}
  <div class="row justify-content-between px-5">
    <div class="col-md-3 mb-2">
      <div class="row">
        <div class="col">
          <div class="row py-2 border border-bottom-0 rounded-top menu-heading">
            <h5 class="menu-item">Settings</h5>
          </div>
          <div class="row py-2 border border-bottom-0">
            <a class="menu-item" href="{% url 'password_change' %}">Change password</a>
          </div>
          <div class="row py-2 border border-bottom-0">
            <a class="menu-item" href="{% url 'upgrade_plan' %}">Select plan</a>
          </div>
          <div class="row py-2 border border-bottom-0">
            <a class="menu-item" href="{% url 'update_payment' %}">Update payment information</a>
          </div>
          <div class="row py-2 border rounded-bottom">
            <a class="menu-item" href="{% url 'delete_user' %}">Delete account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% block settings %}{% endblock %}
    </div>
  </div>

  {% endblock %}
</div>
