{% extends 'registration/settings_base.html' %} {% load static %} {% block title %}Update payment
information{% endblock %} {% block settings %}
<div class="card card-body card-inner">
  <h2 class="card-title">Update payment information</h2>
  <form method="post" id="payment-form" action="{% url 'update_payment' %}">
    {% csrf_token %}
    <div class="stripe-input">
      {% include 'billing/base.html' %}
    </div>
    <button type="submit" class="btn btn-success mt-4">Update</button>
  </form>
</div>
{% endblock %}
