{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card card-body card-outer">
  <p>
    <strong>Compute Studio</strong> is an open-source platform for sharing
    models and simulations.
  </p>

  <p>Principles:</p>
  <ul>
    <li>Freely share models and simulations with the public.</li>
    <li>Pay for your own resources, like compute, at cost.</li>
    <li>Sponsor resources for others if you'd like..</li>
  </ul>

  <p>Features:</p>
  <ul>
    <li>
      A web-based GUI for decisionmakers makes it easy to interact with models
      and simulations from the browser.
    </li>
    <li>
      The web API enables developers to include CS models in their own
      applications.
    </li>
    <li>
      Personal libraries store simulations for users, including both inputs and
      results.
    </li>
  </ul>

  <p>Under development:</p>
  <ul>
    <li>Sharing and privacy features for simulations and models.</li>
  </ul>

  <p>
    Please contribute code or suggestions on
    <a href="https://github.com/compute-tooling/compute-studio/">GitHub</a>. We
    also have a Compute Studio developer community
    <a href="https://matrix.to/#/!WQWxPnwidsSToqkeLk:matrix.org">chat room</a>.
  </p>
</div>

{% endblock %}