{% extends 'base.html' %}
{% load static %}

{% block content %}
<meta name="google-site-verification" content="h3jtZFV_6rLJy0vEsJiOSK9BmSzb8YWefGHhOJkzE4M" />

<div class="container">
  <div class="card card-body card-outer">
    <p><strong>COMPmodels.org</strong> is an open-source utility for sharing computational models. </p>

    <p>Features:</p>
    <ul>
      <li>Share public models and simulations for free.</li>
      <li>Pay for your own compute at cost.</li>
      <li>Sponsor compute for others if you'd like.</li>
    </ul>

    <p>Under development:</p>
    <ul>
      <li>Non-tabular output.</li>
    </ul>

    <p>Planned:</p>
    <ul>
      <li>REST API to run simulations and build GUI simulation pages.</li>
    </ul>

    <p>Please contribute code or suggestions on <a href="https://github.com/comp-org/comp/">GitHub</a>. We also have a COMP developer community <a href="https://matrix.to/#/!WQWxPnwidsSToqkeLk:matrix.org">chat room</a>.</p>
  </div>
</div>

{% endblock %}
