{% extends 'base.html' %}
{% load static %}

{% block content %}
<meta name="google-site-verification" content="PlNKE-DcFWIMn6md03KwBjeMT2Kuiqv_bfPMG3y9MRw" />

<div class="container-fluid" style="padding:20px;">
<div class="explainer">
<p><strong>COMP</strong> is an open-source utility for sharing computational models. </p>

<p>Features:</p>
<ul>
<li>Developers may share their public models for free.</li>
<li>Users pay for their own compute, at cost.</li>
<li>Developers or their sponsors may also pay for users' compute.</li>
</ul>

<p>Under development:</p>
<ul>
<li>Developers may share non-tabular output.</li>
</ul>

<p>Planned:</p>
<ul>
<li>Developers may share models privately, for a fee.</li>
<li>Users may use a REST API to run simulations and build GUI simulation pages.</li>
<li>Users may upload and download simulation input files from the GUI.</li>
</ul>

<p>Please contribute code or suggestions on <a href="https://github.com/comp-org/comp/">GitHub</a>. We also have a COMP developer community <a href="https://matrix.to/#/!WQWxPnwidsSToqkeLk:matrix.org">chat room</a>.</p>
 </div>
</div>

{% endblock %}
