{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card card-body card-outer">
  <h1>Compute Studio DMCA Policy</h1>
  <p>
    We take the intellectual property rights of others seriously and require
    that our Customers and their Authorized Users do the same.
    The Digital Millennium Copyright Act established a process for addressing
    claims of copyright infringement that we have implemented for Compute
    Studio services. If you own a copyright or have authority to act on behalf
    of a copyright owner and want to report a claim that a third party is
    infringing that material on or through a Compute Studio service, please
    send a notice to our copyright agent that includes all of the items below
    and we will expeditiously take appropriate action:
  </p>
  <ul>
    <li>
      A description of the copyrighted work that you claim is being
      infringed;
    </li>
    <li>
      A description of the material you claim is infringing and that you want
      removed or access to which you want disabled and the URL or other
      location of that material;
    </li>
    <li>
      The following statement: “I have a good faith belief that the use of the
      copyrighted material I am complaining of is not authorized by the
      copyright owner, its agent, or the law (e.g., as a fair use)”;
    </li>
    <li>
      The following statement: “The information in this notice is accurate
      and, under penalty of perjury, I am the owner, or authorized to act on
      behalf of the owner, of the copyright or of an exclusive right that is
      allegedly infringed”; and
    </li>
    <li>
      An electronic or physical signature of the owner of the copyright or a
      person authorized to act on the owner's behalf.
    </li>
  </ul>
  <p><strong>By mail:</strong></p>
  <p>Copyright Agent
    <br>c/o Compute Tooling, Inc.
    <br>213 E Highland Ave.<br>Atlantic Highlands, NJ, 07716
    <br>United States
    <br></p><p><strong>By phone:</strong> +1-812-320-7648
      <strong>By email:</strong>
      <a href="mailto:admin@compute.studio" data-no-clog="">
      admin@compute.studio</a></p></div>
      <p>We may, in appropriate circumstances, disable or terminate the
      accounts of users who may be repeat infringers.</p>
      <p>This process does not limit our ability to pursue any other remedies
      we may have to address suspected infringement.</p>
</div>
{% endblock %}
