{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="explainer">
   <p><strong>COMP</strong> is an open-source utility for sharing computational models. </p>

	<ul>
		<li>Developers and organizations share their public models for free.</li>
		<li>Users pay for their own compute.</li>
		<li>Organizations share private models internally, for a per-user fee.</li>
	</ul>

	<h2 id="contributing">Contributing</h2>
		<p>COMP is an open source project, and anyone can contribute code or suggestions on <a href="https://github.com/comp-org/comp/">GitHub</a></p>

		<p>You can reach COMP developers to discuss how to get started by opening <a href="https://github.com/comp-org/comp/issues">an issue</a> or joining the COMP Community <a href="https://matrix.to/#/!WQWxPnwidsSToqkeLk:matrix.org">chat room</a>.</p>
  </div>
</div>

{% endblock %}
