{% extends 'base.html' %}
{% load static %}

{% block content %}
<meta name="google-site-verification" content="PlNKE-DcFWIMn6md03KwBjeMT2Kuiqv_bfPMG3y9MRw" />

<div class="container-fluid">
  <div class="explainer">
   <p><strong>COMP</strong> is an open-source utility for sharing computational models. </p>

	<ul>
		<li>Developers share public models for free.</li>
		<li>Developers share private models for a per-user fee.</li>
		<li>Users pay for their own compute, at cost.</li>
	</ul>

	<p>Please contribute code or suggestions on <a href="https://github.com/comp-org/comp/">GitHub</a>. We also have a COMP developer community <a href="https://matrix.to/#/!WQWxPnwidsSToqkeLk:matrix.org">chat room</a>.</p>
  </div>
</div>

{% endblock %}
