{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="explainer">
    <h1> A platform for computational modeling </h1>
    <p> A computing platform or digital platform[1] is the environment in which a piece of software is executed. It may be the hardware or the operating system (OS), even a web browser and associated application programming interfaces, or other underlying software, as long as the program code is executed with it. Computing platforms have different abstraction levels, including a computer architecture, an OS, or runtime libraries.[2] A computing platform is the stage on which computer programs can run.</p>
    <p>A platform can be seen both as a constraint on the software development process, in that different platforms provide different functionality and restrictions; and as an assistance to the development process, in that they provide low-level functionality ready-made. For example, an OS may be a platform that abstracts the underlying differences in hardware and provides a generic command for saving files or accessing the network.</p>
    <i><a href="https://en.wikipedia.org/wiki/Computing_platform">wikipedia on computing platforms</a></i>
  </div>
</div>

{% endblock %}
