{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card card-body card-outer">
  <h1>Compute Studio Website Terms of Use</h1>
  <p>
    The following terms and conditions govern all use of the compute.studio
    website, or any other website owned and operated by Compute Tooling which
    incorporate these terms and conditions) (the “Website”), including all
    content, services and support packages provided on via the Website. The
    Website is offered subject to your acceptance without modification of all of
    the terms and conditions contained herein and all other operating rules,
    policies (including, without limitation, procedures that may be published
    from time to time on this Website by Compute Studio (collectively, the
    “Agreement”).
  </p>
  <p>
    Please read this Agreement carefully before accessing or using the Website.
    By accessing or using any part of the Website, you agree to be bound by the
    terms and conditions of this Agreement. If you do not agree to all the terms
    and conditions of this Agreement, then you may not access the Website or use
    any of the services. If these terms and conditions are considered an offer
    by Compute Studio, acceptance is expressly limited to these terms. The
    Website is available only to individuals who are at least 13 years old.
  </p>
  <h2>Ownership</h2>
  <p>
    Ownership, copyright and title of any software that is developed by Compute
    Studio shall at all times remain with Compute Studio. You shall not acquire
    directly, indirectly or by implication any title, copyright or ownership in
    the software or any parts thereof. We do not claim any ownership rights to
    the information that you submit to the Compute Studio application itself,
    your code is yours.
  </p>
  <h2>Your Account and Website</h2>
  <p>
    If you create an account on the Website, you are responsible for maintaining
    the security of your account, and you are fully responsible for all
    activities that occur under the account and any other actions taken in
    connection with the account. You must immediately notify Compute Studio of
    any unauthorized use of your account or any other breaches of security.
    Compute Studio will not be liable for any acts or omissions by You,
    including any damages of any kind incurred as a result of such acts or
    omissions.
  </p>
  <h2>Acceptable Use of Your Account and the Website</h2>
  <p>
    By accepting this Agreement, you agree not to use, encourage, promote, or
    facilitate others to use, the Website or your account in a way that is
    harmful to others ("Acceptable Use"). Examples of harmful use include, but
    are not limited to, engaging in illegal or fraudulent activities, infringing
    upon others' intellectual property rights, distributing harmful or offensive
    content that is defamatory, obscene, abusive, an invasion of privacy, or
    harrassing, violating the security or integrity of any computer, network or
    communications system, and taxing resources with activities such as
    cryptocurrency mining. You may not conduct external scans of any kind
    against compute.studio infrastructure without written permission from
    Compute Studio.
  </p>
  <h2>Payment for Simulations Purchased Through the Website</h2>
  <p>
    By running a non-free simulation, you agree to pay Compute Studio the fees
    indicated for that service. Fees are not refundable. The fee will be
    specified on your invoice.
  </p>
  <h2>Compute Studio Newsletter</h2>
  <p>
    By creating an account on compute.studio you give us permission to add your
    email address to the Compute Studio newsletter. You can unsubscribe at any
    time by using the link at the bottom of the newsletter.
  </p>
  <h2>Responsibility of Website Visitors</h2>
  <p>
    Compute Studio has not reviewed, and cannot review, all of the material,
    including computer software, posted to the Website, and cannot therefore be
    responsible for that material’s content, use or effects. By operating the
    Website, Compute Studio does not represent or imply that it endorses the
    material there posted, or that it believes such material to be accurate,
    useful or non-harmful. You are responsible for taking precautions as
    necessary to protect yourself and your computer systems from viruses, worms,
    Trojan horses, and other harmful or destructive content. The Website may
    contain content that is offensive, indecent, or otherwise objectionable, as
    well as content containing technical inaccuracies, typographical mistakes,
    and other errors. The Website may also contain material that violates the
    privacy or publicity rights, or infringes the intellectual property and
    other proprietary rights, of third parties, or the downloading, copying or
    use of which is subject to additional terms and conditions, stated or
    unstated. Compute Studio disclaims any responsibility for any harm resulting
    from the use by visitors of the Website, or from any downloading by those
    visitors of content there posted. You are encouraged to report any
    violations of our Acceptable Use requirements to
    <a href="admin@compute.studio">Compute Studio Legal</a>.
  </p>
  <h2>Content Posted on Other Websites</h2>
  <p>
    We have not reviewed, and cannot review, all of the material, including
    computer software, made available through the websites and webpages to which
    this website links, and that link to this website. Compute Studio does not
    have any control over those non-Compute Studio websites and webpages, and is
    not responsible for their contents or their use. By linking to a non-Compute
    Studio website or webpage, Compute Studio does not represent or imply that
    it endorses such website or webpage. You are responsible for taking
    precautions as necessary to protect yourself and your computer systems from
    viruses, worms, Trojan horses, and other harmful or destructive content.
    Compute Studio disclaims any responsibility for any harm resulting from your
    use of non-Compute Studio websites and webpages.
  </p>
  <h2>Copyright Infringement and DMCA Policy</h2>
  <p>
    As Compute Studio asks others to respect its intellectual property rights,
    it respects the intellectual property rights of others. If you believe that
    material located on or linked to by Compute Studio violates your copyright,
    you are encouraged to notify Compute Studio in accordance with our
    <a href="{% url 'dmca' %}">DMCA policy</a>.
  </p>
  <h2>Data Privacy</h2>
  <p>
    You shall ensure that any and all information or data, including without
    limitation, personal data, used by you in connection with the Agreement
    (“User Data”) is collected, processed, transferred and used in full
    compliance with Applicable Data Protection Laws (as defined below) and that
    it has all obtained all necessary authorizations and consents from any data
    subjects to process User Data. If applicable, you shall adopt and maintain
    appropriate organizational, technical and security measures prior to any
    such collection, processing or transfer in order to protect against
    unauthorized access to or use of User Data. You shall immediately inform
    Compute Studio upon becoming aware of any breach within the meaning of
    Applicable Data Protection Law relating to User Data (a “Security Incident”)
    and to cooperate with Compute Studio in any investigation thereof and in the
    implementation of any measures reasonably required to be taken in response
    thereto. If required by Applicable Data Protection Laws, the parties will
    enter into standard contractual clauses under GDPR (as defined below) for
    the transfer of any User Data outside of the European Union. For purposes
    hereof: (a) “Applicable Data Protection Laws” means any applicable laws,
    statutes or regulations as may be amended, extended or re-enacted from time
    to time which relate to personal data including without limitation (i) prior
    to 25 May 2018, the EU Data Protection Directive 95/46/EC as transposed into
    EU Member State law; (ii) from and after 25 May 2018, GDPR and any EU Member
    State laws implementing the GDPR; and (iii) the e-Privacy Directive
    2002/58/EC, as amended and as transposed into EU Member State law and any
    legislation replacing the e-Privacy Directive and (b) “GDPR” means the
    Regulation (EU) 2016/679 of the European Parliament and of the Counsel of 27
    April 2016 on the protection of natural persons with regard to the
    processing of personal data and on the free movement of such data, and
    repealing Directive 95/46/EC (General Data Protection Regulation).
  </p>
  <h2>Intellectual Property</h2>
  <p>
    This Agreement does not transfer from Compute Studio to you any Compute
    Studio or third party intellectual property, and all right, title and
    interest in and to such property will remain (as between the parties) solely
    with Compute Studio. Compute Studio, the Compute Studio logo, and all other
    trademarks, service marks, graphics and logos used in connection with
    Compute Studio, or the Website are trademarks or registered trademarks of
    Compute Tooling, LLC or Compute Studio's licensors. Other trademarks,
    service marks, graphics and logos used in connection with the Website may be
    the trademarks of other third parties. Your use of the Website grants you no
    right or license to reproduce or otherwise use any Compute Studio or
    third-party trademarks.
  </p>
  <h2>Changes</h2>
  <p>
    Although most changes are likely to be minor, Compute Studio may change its
    Website Terms of Use from time to time, and in Compute Studio's sole
    discretion. We will provide notice through our Website prior to the change
    taking effect by posting a notice on our home page or blog. Compute Studio
    encourages visitors to frequently check this page for any minor changes to
    the Website Terms of Use. Your continued use of this site after any change
    to the Compute Studio Website Terms of Use will constitute your acceptance
    of such change. Compute Studio may also, in the future, offer new services
    and/or features through the Website (including, the release of new tools and
    resources). Such new features and/or services shall be subject to the terms
    and conditions of this Agreement. Compute Studio may also, in the future,
    remove features at any time without warning.
  </p>
  <h2>General Representation</h2>
  <p>
    You represent and warrant that (i) your use of the Website will be in strict
    accordance with this Agreement and with all applicable laws and regulations
    (including without limitation any local laws or regulations in your country,
    state, city, or other governmental area, regarding online conduct and
    acceptable content, and including all applicable laws regarding the
    transmission of technical data exported from the United States or the
    country in which you reside) and (ii) your use of the Website will not
    infringe or misappropriate the intellectual property rights of any third
    party.
  </p>
  <h2>Termination</h2>
  <p>
    Compute Studio may terminate your access to all or any part of the Website
    at any time, with or without cause, with or without notice, effective
    immediately. If you wish to terminate this Agreement or your Compute Studio
    account, you may simply discontinue using the Website. All provisions of
    this Agreement which by their nature should survive termination shall
    survive termination, including, without limitation, ownership provisions,
    warranty disclaimers, indemnity and limitations of liability.
  </p>
  <h2>Limitation of Liability</h2>
  <p>
    In no event will Compute Studio or any of its affiliates, its suppliers or
    licensors, be liable with respect to any subject matter of this Agreement
    under any contract, negligence, strict liability or other legal or equitable
    theory for: (i) any special, incidental or consequential damages; (ii) the
    cost of procurement for substitute products or services; (iii) for
    interruption of use or loss or corruption of data; or (iv) for any damages
    whatsover. Compute Studio shall have no liability for any failure or delay
    due to matters beyond their reasonable control. The foregoing shall not
    apply to the extent prohibited by applicable law.
  </p>
  <h2>Indemnification</h2>
  <p>
    You agree to indemnify and hold harmless Compute Studio, its affiliates,
    contractors, and its licensors, and their respective directors, officers,
    employees and agents from and against any and all claims and expenses,
    including attorneys’ fees, arising out of your use of this Agreement,
    including but not limited to your violation of this Agreement.
  </p>
  <h2>Disclaimer of Warranty</h2>
  <p>
    The Website is provided “as is”. Compute Studio and its affiliates,
    suppliers and licensors hereby disclaim all warranties of any kind, express
    or implied, including, without limitation, the warranties of
    merchantability, fitness for a particular purpose and non-infringement.
    Neither Compute Studio nor its suppliers and licensors, makes any warranty
    that the Website will be error free or that access thereto will be
    continuous or uninterrupted. You understand that you download from, or
    otherwise obtain content or services through, the Website at your own
    discretion and risk.
  </p>
  <h2>Partial Invalidity</h2>
  <p>
    If any provision of this document is held by a court of competent
    jurisdiction to be invalid, void, or unenforceable, the remaining provisions
    shall nevertheless continue in full force without being impaired or
    invalidated in any way.
  </p>
  <h2>Failure to Enforce</h2>
  <p>
    The failure of either party to enforce at any time, or for any period of
    time, the provisions hereof shall not be construed to be a waiver of such
    provisions or of the right of such party to enforce each and every such
    provision.
  </p>
  <h2>Dispute Resolution</h2>
  <p>
    The parties will engage in good faith negotiations to resolve the dispute
    for a period of ten (10) business days after written notice of the dispute
    or issue is provided by one party to the other. Within such ten (10)
    business days, representatives from each party will engage in negotiations
    to resolve the dispute, and such individuals will meet in person, via
    videoconference or via telephone and attempt to informally resolve the
    dispute or issues. If those persons are unable to resolve the dispute within
    such ten (10) business days, then unless the parties have mutually agreed to
    extend the negotiation period, a party may exercise its rights available to
    such party under this Agreement to otherwise end the dispute.
  </p>
  <h2>Governing law</h2>
  <p>
    Except to the extent applicable law provides otherwise, this Agreement
    between you and Compute Studio and any access to or use of the Website or
    the Service are governed by the federal laws of the United States of America
    and the laws of the State of New Jersey, without regard to conflict of law
    provisions. You and Compute Studio agree to submit to the exclusive
    jurisdiction and venue of the courts located in the City of Atlantic
    Highlands, NJ.
  </p>
</div>
{% endblock %}