{% extends 'base.html' %}

{% load static %}

{% load strings %}
{% load inputs %}
{% block content %}

<form class="inputs-form" id="inputs-form" method="post" action="{{app_url}}">
{% csrf_token %}
<input type="hidden" name="has_errors" value="{{ has_errors }}" />
<div class="wrapper">
  <!-- Sidebar -->
  <div class="container-fluid">
    <nav id="sidebar" class="top-sticky navbar navbar-expand-lg" style="padding:0px;">
        <ul class="list-unstyled components">
            <li>
            <div class="sidebar-header">
                <h3>Model Parameters</h3>
            </div>
            </li>
            <li>
              <ul class="list-unstyled components">
                {% for section, params in default_form.items %}
                  <li><a class="btn btn-block inverse-btn-match-nav dropdown-toggle"
                      style="color:inherit;margin-top:10px;margin-bottom:2px;"
                      href="#{{ section }}-submenu"
                      data-toggle="collapse"
                      aria-expanded="false"
                      role="button"
                      aria-controls="{{ section }}-submenu">
                      {{ section.title }}
                  </a>
                  </li>
                  <ul class="collapse list-unstyled" id="{{ section }}-submenu">
                  {% for param in params %}
                    {% for key, value in param.items %}
                      <li><a style="color:inherit;margin-top:2px;margin-bottom:2px;" href="#{{ key|make_id }}">{{ key }}</a></li>
                    {% endfor %}
                  {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            </li>
            <li>
              <button class="btn btn-block go-btn" type="submit" name="full_calc" value="true" style="margin:10px;margin-left:0px;"><b>Run {% if not provided_free %}({{ exp_cost }}){% endif %}</b></button>
            </li>
            <li>
              <a href="{{app_url}}" class="btn btn-block inverse-btn-match-nav" style="margin:10px;margin-left:0px;">Reset</a>
            </li>
        </ul>
    </nav>
  </div>
  <div id="content" style="width: 60rem;">
    <div class="container-fluid">
      <h1><a class="primary-text" href="{ app_url }">{{ owner }}/{{ project_name }}</a> <a href="{{app_url}}detail/" class="btn inverse-btn-match-nav"><small>config</small></a></h1>
      <div>{{app_description}}</div>
      {% include 'core/project_info.html' %}
      {% block project_context %}
      {% endblock %}
    </div>
    <div class="container-fluid">
        <div class="inputs-main">
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger text-center lert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ error }}
              </div>
          {% endfor %}
          {% include 'core/inputs/metaparameters.html' with form=form title="Meta Parameters" %}
          <hr class="my-4 input-divider">
          {% for section, params in default_form.items %}
              {% include 'core/inputs/major_section.html' with title=section.title params=params %}
          {% endfor %}
        </div> <!-- main -->
      </div>
  </div>
</div>
</form>
<script src="{% static 'js/core.js' %}"></script>
{% endblock %}
