{% extends 'base.html' %}

{% block style %}
{{block.super}}
<style>
  .file-contents{
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      margin-left: 80px;
      margin-right: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: left;
  }
</style>
{% endblock %}

{% block content %}

<div class="card card-body card-outer">
    <h1 class="card-title text-center">Sorry! Your calculation failed. Please re-enter parameters and try again.</h1>

    <div class="file-contents">
          {%autoescape off %}
          {{error_msg | linebreaks | safe }}
          {%endautoescape %}
    </div>
</div>

{% endblock %}
