{% extends 'base.html' %}

{% load static %}

{% load strings %}
{% load inputs %}
{% load utility %}

{% block content %}

{% csrf_token %}
<input type="hidden" name="has_errors" value="{{ has_errors }}" />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="jumbotron shadow" style="background-color:white;">
          <h1 class="display-5">
            <a class="primary-text" href="{{ app_url }}">{{ owner }}/{{ project_name }}</a>
            <a href="{{app_url}}detail/" class="btn btn-sm btn-outline-primary" style="font-size:0.85rem">
              <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/note.svg" alt="Note"> publish details
            </a>
            <a class="btn btn-sm btn-outline-primary" style="font-size:0.85rem" href="https://docs.compute.studio/api/guide/">
              <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/zap.svg" alt="Zap"> REST API
            </a>
          </h1>
          <p class="lead">{{app_oneliner}}</p>
          <hr class="my-4">
          <div>{{app_description}}</div>
          {% block project_context %}
          {% endblock %}
          <div>
            <p class="lead"> </p>
          </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div id="inputs-container"></div>
</div>
<script src="{% static 'js/core.js' %}"></script>
<script src="{% static 'js/sim.js' %}"></script>
{% endblock %}
