<div>
  <button
    class="btn collapse-button btn-outline-info"
    type="button"
    data-toggle="collapse"
    data-target="#pricing-collapse"
    aria-expanded="true"
    aria-controls="pricing-collapse"
    style="display:block;padding:10px;">
    {{button_name}}
  </button>
  <div class="collapse" id="pricing-collapse">
    <div class="card card-body card-inner">
      {% if provided_free %}
        <p> This model is provided for free. The developers of this model or some other party are paying for this model's compute.</p>
      {% else %}
        <p> The models are offered for free, but you pay for the computational resources used to run them. The prices are equal to AWS compute pricing, subject to costing at least one penny for a single run.  </p>
          <ul>
            <li>The price per hour of a server running this model is: {{ rate }}</li>
            <li>The expected time required for a single run of this model is: {{exp_time}}</li>
          </ul>
      {% endif %}
      </p>
    </div>
  </div>
</div>
