{% extends 'base.html' %} {% load static %} {% block style %}

<style>
  .embedded {
    position: relative;
    height: 100vh;
    width: 100%;
    border: 0;
  }
</style>

{% endblock %}{% block content %} {% csrf_token %}

<div id="iframe-container" class="container-fluid" style="background: white;">
  {% if deployment.status == "running" %}
  <iframe
    id="embedded-iframe"
    class="embedded"
    title="{{object.title}}"
    src="{{protocol}}://viz.compute.studio/{{object.owner}}/{{object.title}}/{{deployment.hashed_name}}/"
  ></iframe>
  {% else %}
  <div id="notready" style="height: 75vh;">
    <p class="lead">Starting the {{object.owner}}/{{object.title}} visualization...</p>
  </div>
</div>
{% endif %} {% endblock %} {% block below_body %}
<script>
  var checkReady = function() {
    const resp = fetch(
      "/apps/api/v1/{{object.owner}}/{{object.title}}/deployments/{{deployment.name}}/"
    ).then(function(response) {
      response.json().then(function(data) {
        if (data.status === "running") {
          var container = document.getElementById("iframe-container");
          var placeholder = document.getElementById("notready");
          container.removeChild(placeholder);
          var iframe = document.createElement("iframe");
          iframe.src =
            "{{protocol}}://viz.compute.studio/{{object.owner}}/{{object.title}}/{{deployment.hashed_name}}/";
          iframe.title = "{{object.title}}";
          iframe.className = "embedded";
          iframe.id = "embedded-iframe";
          container.appendChild(iframe);
          setTimeout(pingDeployment, 10000);
        } else {
          setTimeout(checkReady, 3000);
        }
      });
    });
  };

  var pingDeployment = function() {
    if (!document.hasFocus()) {
      setTimeout(pingDeployment, 2000);
      return;
    }
    const resp = fetch("/apps/api/v1/deployments/{{deployment.hashid}}/?ping=true").then(function(
      response
    ) {
      response.json().then(function(data) {
        if (data.status === "terminated") {
          // reload modal
          var container = document.getElementById("iframe-container");
          var iframe = document.getElementById("embedded-iframe");
          container.removeChild(iframe);
          var restart = document.createElement("p");
          restart.textContent = "Restarting the {{object.owner}}/{{object.title}} visualization...";
          restart.style = "height: 75vh;";
          container.appendChild(restart);
          setTimeout(function() {
            window.location.reload();
          }, 2000);
        } else {
          setTimeout(pingDeployment, 10000);
        }
      });
    });
  };

  window.onload = function() {
    var initIframe = document.getElementById("embedded-iframe");
    if (initIframe === null) {
      return checkReady();
    } else {
      return pingDeployment();
    }
  };
</script>
{% endblock %}
