{% load strings %}
{% load inputs %}


<fieldset id="{{ title|make_id }}" class="inputs-block">
    <div class="container">
      <h1>
        {{ title }}
        <div class="float-right">
          <button
            class="btn collapse-button"
            type="button"
            data-toggle="collapse"
            data-target="#{{ title|make_id }}-collapse"
            aria-expanded="false"
            aria-controls="{{ title|make_id }}-collapse"
            style="margin-left:20px;">
            <i class="far fa-plus-square" style="size:5x;" ></i>
          </button>
        </div>
      </h1>
    </div>
    <hr class="my-4">
    <div class="container">
      <div class="collapse" id="{{ title|make_id }}-collapse">
        <div class="card card-body" style="width: 50rem;">
            {% for param in params %}
            {% for key, value in param.items %}
              {% if key != "ubi" %}
                {% if params|is_first:param %}
                  {% include 'core/inputs/default_input.html' with title=key param=value is_first=True %}
                {% else %}
                  {% include 'core/inputs/default_input.html' with title=key param=value is_first=False %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      {% block section_warnings %}{% endblock %}
    </div>
</fieldset>
