
/* text */

body {
  font-family: 'Roboto', sans-serif;
}


.explainer {
  color: #212121;
}

p {
  width:80ch
}

code {
  color: inherit;
  background-color: rgba(27,31,35,0.05);
}

/* login */
.login-status {
  position:absolute;
  top:0px;
  right:0px;
  color:#e5e5e5;
}

.login-status a{
  color:#e5e5e5;
}

.login-status a:hover{
  color:#ffffff;
  text-decoration: none;
}

/* navbar */
.navbar-custom {
  background-color: #212121;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #e5e5e5;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #cccc;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/* buttons with navbar color scheme */

.btn-match-nav, .nav-pills .nav-link.active {
  background-color: #212121 !important;
  color: #e5e5e5 !important;
}

.inverse-btn-match-nav, .nav-pills .nav-link {
  color: #212121 !important;
  background-color: #e5e5e5 !important;
}

/*  go button! used for submitting things/important buttons on page */
.go-btn {
  color: white;
  background-color: #009900;
}

/* used for the profile page--should probably be a the inverse-button-match-nav */
.btn-comp {
  background-color:#cccc !important;
}


/* format blocks of text */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* input form/output page formatting */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 0;
}

/* add tent to input boxes */
input.model:not(:placeholder-shown) {
  background-color:  #e5e5e5!important;
}

/* fade auxillary button on toggle */
.fader {
  opacity: 0.5;
}

/* format card objects */
.card {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.card-body {
  padding: 15px;
}
.card-header {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.card-header > .dropdown .dropdown-toggle {
  color: inherit;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.card-title > a,
.card-title > small,
.card-title > .small,
.card-title > small > a,
.card-title > .small > a {
  color: inherit;
}
.card-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* remove card border */
.card {
  box-shadow: 0 1px 1px white;
}

/* remove asterisk on crispy-form-fields */
.asteriskField {
  display: none;
}

.input-tooltip:hover {
  opacity: 0.5;
}

.form-group.edited .form-control {
  background-color: #e5e5e5;
}

/* thicken hr-4 input divider */
.input-divider {
  border-top: 3px solid #e5e5e5;
}

/* format the progress bar */
.progress-bar {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #212121;
  text-align: center;
  background-color: #212121;
}


.profile-tab-content {
  padding: 25px;
}