/* text */

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

cs-black-background-color {
  background-color: #2b2c2d;
}

cs-white-background-color {
  background-color: #ffffff;
}

cs-black-color {
  color: #2b2c2d;
}

cs-white-color {
  color: #ffffff;
}

.explainer {
  color: #2b2c2d;
}

.main-content {
  background: rgb(238, 238, 238);
}

div.card.publish.markdown {
  /* background-color: rgba(27, 31, 35, 0.05); */
  padding: 0.375rem 0.75rem;
}

code {
  color: inherit;
  display: block;
}

/* login */
.login-status {
  color: white;
}

.login-status a {
  color: white;
}

.login-status a:hover {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

/* navbar */
.navbar-custom {
  background-color: #2b2c2d;
}

/* change the color of active or hovered links */
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .nav-item,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .nav-item.active .nav-link:hover,
.navbar-custom .nav-link:hover,
.btn-outline-match-nav:hover {
  color: rgb(238, 238, 238, 0.9) !important;
}

.sim-nav-item .nav-link.active,
.sim-nav-item .show {
  /* background-color: rgba(42, 44, 43, 1); */
  /* darker ==> background-color: rgba(35, 36, 36, 1); */
  background-color: rgba(60, 62, 62, 1);
  color: #ffffff;
  border: 1px solid #2b2c2d;
}

.sim-nav-item .nav-link,
.sim-nav-item .show {
  color: #ffffff;
  /*darker ==> background-color: rgba(75, 77, 78, 1); */
  background-color: rgba(87, 90, 91, 1);
  border: 1px solid #2b2c2d;
}

.sim-nav-item {
  padding: 0;
}

.sub-nav-item .nav-link {
  color: #586069;
  background-color: white;
}
.sub-nav-item .nav-link.active {
  color: white;
  background-color: #0068d6;
  border-color: #0068d6 !important;
}

.left-nav-item .nav-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-nav-item .nav-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .dropdown-menu.desktop-menu-right.show {
    right: 0;
    left: auto;
  }
}

/* small devices */
@media (max-width: 576px) {
  .mobile-pr-0 {
    padding-right: 0 !important;
  }
}

@media (max-width: 992px) {
  .mobile-mb-1 {
    margin-bottom: 0.25rem !important;
  }
  .mobile-mb-2 {
    margin-bottom: 0.5rem !important;
  }
  .mobile-mb-3 {
    margin-bottom: 1rem !important;
  }
  .mobile-p-1 {
    padding: 0.25rem !important;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* buttons with navbar color scheme */

.btn-match-nav,
.main-navbar .nav-pills .nav-link.active {
  background-color: #2b2c2d !important;
  color: #ffffff !important;
}

.btn-match-nav:hover {
  background-color: transparent;
  color: rgb(238, 238, 238, 0.9) !important;
}

.btn-outline-match-nav {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff !important;
}

.btn-outline-match-nav:hover {
  border-color: #ffffff;
  background-color: transparent;
}

.inverse-btn-match-nav,
.main-navbar .nav-pills .nav-link {
  color: #2b2c2d !important;
  background-color: #ffffff !important;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

/* used for the profile page--should probably be a the inverse-button-match-nav */
.btn-comp {
  background-color: #cccc !important;
}

/* format blocks of text */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* input form/output page formatting */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 0;
}

/* add tent to input boxes */
input.model:not(:placeholder-shown) {
  background-color: #e5e5e5 !important;
}

/* drop margin-bottom on form group. */
.form-group {
  margin-bottom: 0rem;
}

/* fade auxillary button on toggle */
.fader {
  background-color: rgb(231, 241, 252) !important;
  color: rgba(10, 102, 194, 1) !important;
}

.card-inner {
  box-shadow: 0 1px 1px white;
  border: 0px;
}

.card-outer {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* remove asterisk on crispy-form-fields */
.asteriskField {
  display: none;
}

.input-tooltip:hover {
  opacity: 0.5;
}

/* dimmer version of the bootstrap glow */
input.edited,
select.form-control.model-param.edited {
  background-color: rgba(102, 175, 233, 0.2);
}

span.default-value.hide-default {
  visibility: hidden;
}

span.default-value {
  color: #869191;
}

/* thicken hr-4 input divider */
.input-divider {
  border-top: 3px solid #e5e5e5;
}

.profile-tab-content {
  padding: 25px;
}

.error {
  font-size: 80%;
  color: #dc3545;
}

.description {
  width: "50rem";
}

.btn-checkbox {
  padding: 0.25rem 0.5rem;
  font-size: 0.68rem;
  line-height: 0.9;
  border-radius: 0.2rem;
  background-color: rgba(10, 102, 194, 1);

  color: rgb(231, 241, 252);
  /* font-size: 11px; */
  font-weight: 700;
}

.w-50rem {
  width: 50rem;
}

.scroll-y {
  overflow-y: auto;
  height: 100vh;
}

.hover-blue:hover {
  color: #007bff;
}

.color-inherit {
  color: inherit;
}
.color-inherit:hover {
  color: inherit;
}

/* output modal styling */
.output-modal.modal.show .modal-content {
  min-width: 100%;
}

.output-modal.modal.show div.modal-dialog.modal-xl {
  max-width: 1400px;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
  font-size: 17px !important;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

/* tooltip */

.fade.show.tooltip > .tooltip-inner {
  background-color: #2b2c2d;
  opacity: 0.99 !important;
}
