
.explainer {
    color: #212121;
}


p {
  width:80ch
}

.login-status {
  position:absolute;
  top:0px;
  right:0px;
  color:rgba(255,255,255,.8);
}

.login-status a{
  color:rgba(255,255,255,.8);
}

.login-status a:hover{
  color:#ffffff;
  text-decoration: none;
}



.navbar-custom {
  background-color: #212121;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.progress-bar {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #212121;
  text-align: center;
  background-color: #212121;
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  background-color: white;
  height: 40px;
  width:100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}