{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
<div id="publish-container" class="container publish">
</div>
<script type="text/jsx" src="{% static 'js/publish.js' %}"></script>
{% endblock %}
