{% extends 'base.html' %}

{% load static %}

{% load strings %}
{% load inputs %}
{% block content %}

<form class="inputs-form" method="post" action="/taxcalc/?start_year={{start_year}}&data_source={{data_source}}">
{% csrf_token %}
<input type="hidden" name="has_errors" value="{{ has_errors }}" />
<div class="wrapper" style="padding:50px 50px;">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Input Sections</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="/taxcalc" class="btn btn-secondary">Reset Parameters</a>
            </li>
            <hr>
            <li>
              <ul class="list-unstyled components">
                  {% for section, params in default_form.items %}
                    <li><a class="btn inverse-btn-match-nav dropdown-toggle"
                        style="color:inherit;margin-top:10px;margin-bottom:2px;"
                        href="#{{ section }}-submenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                        role="button"
                        aria-controls="{{ section }}-submenu">
                        {{ section.title }} Parameter Sections
                    </a>
                    </li>
                    <ul class="collapse list-unstyled" id="{{ section }}-submenu">
                    {% for param in params %}
                      {% for key, value in param.items %}
                        <li><a style="color:inherit;margin-top:2px;margin-bottom:2px;" href="#{{ key|make_id }}">{{ key }}</a></li>
                      {% endfor %}
                    {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
              </li>
            <hr>
            <li>
              <button class="btn btn-block btn-match-nav" type="submit" name="full_calc" value="true" style="margin:10px;margin-left:0px;">Run simulation</button>
            </li>
            <li>
              <button class="btn btn-block btn-match-nav" type="submit" name="use_full_sample" value="true" style="margin:10px;margin-left:0px;">Run quick simulation</button>
            </li>
        </ul>
    </nav>
  <div id="content" style="margin-left:20px">
    <div class="col-xs-9">
        <div class="inputs-main">
          {% include 'taxcalc/metaparameters.html' with title="Meta-Parameters" start_years=start_years data_sources=data_sources %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger text-center lert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ error }}
              </div>
          {% endfor %}
          {% for section, params in default_form.items %}
              {% include 'taxcalc/major_section.html' with title=section.title params=params %}
          {% endfor %}
        </div> <!-- main -->
      </div>
  </div>
</div>
</form>

  <div class="modal fade" id="current-year-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding:0;margin:0;"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Start Year</h4>
        </div>
        <div class="modal-body">
          Warning: This will clear your current inputs.
        </div>
        <div class="modal-footer">
          <a type="button" class="btn inverse-btn-match-nav" data-dismiss="modal">Nevermind.</a>
          <a type="button" class="btn btn-match-nav" id="current-year-link">OK, go for it.</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="data-source-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding:0;margin:0;"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Data Source</h4>
        </div>
        <div class="modal-body">
          Warning: This will clear your current inputs.
        </div>
        <div class="modal-footer">
          <a type="button" class="btn inverse-btn-match-nav" data-dismiss="modal">Nevermind.</a>
          <a type="button" class="btn btn-match-nav" id="data-source-link">OK, go for it.</a>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/taxcalc.js' %}"></script>

{% endblock %}
